/***** Base styles *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
color: #2b2b2b;
}

#contact, #work {
    height: 600px;
}

#about {
    height: 650px;
    background: #ebf3f5;
}

/***************************************** Header ******************************/

header {
    height: 500px;
    background-image: url('../img/water-background-alt2.png');
    background-size: cover;
}

header h1 { 
    padding: 65px 0 65px 50px;
    font-family: 'Lora', serif;
    font-size: 50px;
    color: white;
    text-shadow: 2px 0px black;
}

/**************************************** Navigation *************************/

nav {
    float: right; 
    padding: 90px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px  black;
    padding-left: 80px; 
}

/************************************** Welcome message************************/
header h2 {
    width: 900px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 80px;
    line-height: 90px;
    color: white;
    text-shadow: -3px -3px black;
    padding: 40px 0px 20px 50px;
}
header h2 span {
    color: white;
    text-shadow: -3px -3px grey;
}

/* Grid */

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    margin: 0 auto;
    float: left;
}

.third-width {
    width: 400px;
    margin: 0 auto;
    float: left;
}

/**************************************** About Section **************************/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-style: bold;
    padding-left: 50px;
    color: #c49075;
}
 
#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#about ul {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #c49075;
    line-height: 35px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}

#about li {
    list-style: none;
}

#about span {
    font-size: 21px;
}

#about h3 {
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #7f7f7f;
    padding-top: 300px;
    text-align: center;
}


/**************************************** Work Section **************************/

#work {
    background-color: #b1ccd3;
    text-align: center;
    border-style: solid;
    border: 5 px;
    border-color: white;
}


#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h5 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}
 
#work p {
    font-family: 'Lora',serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}
/* Link to Portfolio*/

#portfolio {
    padding-top: 50px;
    background: #c49075;
    margin: 0px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px grey;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
   
    }

#portfolio a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px grey;
}


/**************************************** Contact ******************************/

#contact {
    background: #ebf3f5;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-image {
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #social-media-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    color: #7f7f7f;
}
#contact #email-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    line-height: 44px;
    margin: -30px 0 5px 0;
    color: #7f7f7f;
}
#contact #social-media-header {
    font-weight: 'Source Sans Pro', sans-serif;
    font-size: 29px;
    color: #7f7f7f;
    font-weight: bold;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

/*********************************************************************** work portfolio page ***********************************************************/

#left_column, #right_column {
    float: left;
}

#left_column div, #right_column div {
    background: lightblue;
    height: 500px;
    width: 550px;
}
#left_column p, #right_column p {
    background: lightgreen;
    height: 500px;
    margin: 0px;
    width: 450px;
}
#right_column div {
    margin-left: -100px;
}


