/***** Base styles *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
color: #2b2b2b;
}

#contact, #skills {
    height: 600px;
}


/***************************************** Header ******************************/

header {
    height: 500px;
    background-image: url('../img/water-background-alt2.png');
    background-color: darkslategray;
    background-size: cover;
}

header h1 { 
    padding: 65px 0 65px 50px;
    font-family: 'Lora', serif;
    font-size: 50px;
    color: #d7e7eb;
    text-shadow: 2px 0px black;
}


/**************************************** Navigation *************************/

nav {
    float: right; 
    padding: 90px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20%;
    margin-right: 10px;
    color: #d7e7eb;
    text-shadow: -1px -1px  black;
}

@media screen and (max-width: 1200px) {
    nav ul li a {
        font-size: 15px;
        width: 10px;
    }
    nav {
        position: absolute;
        top: -50px;
        right: -20px;
    }
}

/************************************** Welcome message************************/
header h2 {
    width: 900px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 80px;
    line-height: 90px;
    color: #d7e7eb;
    text-shadow: -3px -3px black;
    padding: 40px 0px 20px 50px;
}
header h2 span {
    color: #d7e7eb;
    text-shadow: -3px -3px grey;
}


/* Grid */

.full-width {
    width: 100%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
    margin: 0 auto;
    float: left;
}

.third-width {
    width: 33%;
    margin: 0 auto;
    float: left;
}

/**************************************** About Section **************************/


#about {
    height: 450px;
    background: #ebf3f5;
}

#about .full-width {
    padding: 1% 0 1%;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-style: bold;
    padding-left: 50px;
    color: #c49075;
}
 
#about p {
    font-size: 22px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#about span  {
    padding-left: 50px;
    font-weight: bold;
}

@media screen and (max-width: 855px) {
    #about p {
        font-size: 18px;
        overflow: hidden;
    }
    #about {
        height: 500px;
        overflow: hidden;
    }
}


/**************************************** Skills Section **************************/

#skills {
    background-color: #d7e7eb;
    text-align: center;
    border-style: solid;
    border: 5 px;
    border-color: #ebf3f5;
}

#skills h2 {
    font-size: 48px;
    color: #c49075;
    word-spacing: 1px;
    padding-bottom: 15px;
    margin-top: 20px;
}

#skills span {
    font-size: 70px;
}

#skills .full-width {
    padding: 10px 0;
}

#skills div {
    padding-bottom: 30px;
    font-size: 70px;
}
#skills i {
    color: #7f7f7f;
    font-size: 70px;
}


#skills h5 {
    font-size: 23px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
    color: #7f7f7f;
}
 
#skills p {
    font-family: 'Lora',serif;
    font-size: 25px;
    line-height: 30px;
    padding: 0 5%;
    color: #7f7f7f;
}

@media screen and (max-width: 1000px) {
    .third-width {
        width: 100%;
    }
    #skills p {
        font-size: 33px;
        line-height: 45px;
    }
    #skills {
        height: 1400px;
    }
    #skills h5 {
        font-size: 40px;
        width: auto;
        text-align: center;
    }
  }
@media screen and (max-width: 800px) {
    #skills p {
        font-size: 30px;
    }
}
@media screen and (max-width: 910px) {
    #skills p {
        font-size: 22px;
    }
}
/************************************ Link to Portfolio********************/

#portfolio {
    padding-top: 50px;
    background: #c49075;
    margin: 0px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    color: #d7e7eb;
    text-shadow: 2px 2px grey;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
   
    }

#portfolio a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px grey;
}


#portfolio span {
    font-weight:bold;
}

@media screen and (max-width: 720px) {
    #portfolio {
        font-size: 30px;
    }
}


/**************************************** Contact ******************************/

#contact {
    background: #ebf3f5;
}

#contact .full-width {
    padding: 80px 0px 0px 0px;
}
#contact-image {
    width: 50%;
    margin-left: 25%;
}

#contact #envelope {
    padding: 0 10px 0 -10px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 39px;
    line-height: 44px;
    font-weight: bold;
    color: #7f7f7f;
    padding-bottom: 10px;
    margin-left: 0px;
}
#contact #email-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    line-height: 44px;
    margin: -30px 0 5px -0px;
    color: #7f7f7f;
    margin-bottom: 30px;
}
#contact #social-media-header {
    font-weight: 'Source Sans Pro', sans-serif;
    font-size: 29px;
    color: #7f7f7f;
    font-weight: bold;
    line-height: 44px;
    margin: 30px 0 0 0px;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
    display: inline-block;
    padding-right: 30px;
    padding-left: 0px;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

@media screen and (max-width: 1000px) {
    #contact-image {
        display: none;
    }
    #contact {
        text-align: center;
    }
    .half-width {
        width: 100%;
    }
}

/*********************************************************************** work portfolio page ***********************************************************/

#portfolio_body {
    background-color: #ebf3f5;
}

#return_home p {
    background-color: #b1ccd3;
    padding: 20px 0px 20px 140px;
    font-size: 60px;
    line-height: 80px;
    margin: 0px 0px 35px 0px;
    border-bottom-style: solid;
    border-bottom-color: #c49075;
    border-width: 4px;
}
#return_home a {
    color: white;
    text-decoration: none;
}

.container {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .image {
    opacity: 1;
    display: block;
    width: 800px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 40px;
  }
  
  .first, .second, .third, .fourth, .fifth {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
    top: 60%;
  }
   /*
  .first {
    top: 42%;
  }
 
  .second {
    top: 105%;
  }
  .third {
    top: 165%;
  }
  .fourth {
    top: 230%;
  }
  .fifth {
    top: 290%;
  }*/
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .first, .container:hover .second, .container:hover .third, .container:hover .fourth, .container:hover .fifth {
    opacity: 1;
  }
  
  .text {
    background-color: #c49075;
    color: white;
    font-size: 34px;
    padding: 5px 10px;
  }
  

.website_image {
    width: 90%;
}
  

/**************************************************************************** Amie Carter ***********************************************************************/
html {
    font-size: 35px;
    line-heigh: 40px;
}
.unbehaved-element {
    font-size: 2em;
}
@media(max-width: 1580px) {
  html {
    font-size: 18.5px;
  }
  .unbehaved-element {
    font-size: 1.85em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}

#amie_carter_body {
    background: url("http://kb4images.com/images/metal-wallpaper/36073635-metal-wallpaper.jpg");
    background-size: auto;
    background-attachment: fixed;
}

#amie_carter_about h3, #available_trainings_section h3, #amie_carter_contact h3, #resources h3  {
    color: #7e152c;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    letter-spacing: .1em;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    clear: both;
    background-color: none;
}

#amie_carter_contact h3 {
    font-size: 1.85em;
}


/**************************** header ****************/

#amie_carter_header {
    color: #7e152c;
    font-family: 'Nixie One', cursive;
    font-size: 63px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #7e152c;
    margin: 28px 0px 0px 0px;
    width: auto;

}
#consultant {
    color: #303030;
    font-family: 'Nixie One', cursive;
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-top: 10px;
    width: auto;
}

/********************** navigation menu ****************/

#amie_carter_nav {
    font-family: 'Nunito', sans-serif;
    background: none;
    width: auto;
    height: 5em;
    opacity: 0.8;
    float: right;
}
#amie_carter_nav li {
    font-size: .91em;
    text-decoration: none;
    list-style: none;
    float: left;
    width: 6em;
    text-align: center;
    margin-top: .2em;
}
#amie_carter_nav i { 
    font-size: 1em;
    color: #7e152c;
}

#amie_carter_nav a:hover { opacity: 0.5;}

#amie_carter_nav p {
    margin-top: 5px;
    color: #7e152c;
}

/******************** about me **************************/

#amie_image {
    float: left;
    width: 35%;
    border: 0px;
    margin-top: 0em;
}

#amie_carter_about p {
    font-family: 'Nixie One', cursive;
    font-size: 1.4em;
    color: #303030;
    width: auto;
    height: auto;
    min-height: 18em;
    background-color: darkgrey;
    opacity: 0.8;
    margin-top:0px;
    margin-bottom: 0px;
    float: right;
    width: 65%;
    line-height: 2.2em;
    text-align: center;
    overflow: hidden;
}
#amie_carter_about h3 {
    color: #303030;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 10px;
}

/*************************** available trainings ************/

#available_trainings_section div {
    color: #303030;;
    background: darkgrey;
    text-align: center;
    opacity: 0.8;
    margin: 0px 0px;
    width: 33.3%;
    float: left;
}

#available_trainings_section h4 {
    color: #303030;
    font-family: 'Nixie One', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
#available_trainings_section p {
    color: #303030;
    font-size: 2em;
    font-weight: lighter;
    clear: both;
    padding: 0px 20px 0px 20px;
    float: left;
}

/******************************* resources ************************/

#resources {
    float: left;
    width: 100%;  
}

#resources div {
    height: 1100px;
}

ul.links_half {
    color: #303030;
    width: 50%;
    background: darkgrey;
    margin: 0px 0px;
    padding: 0px 0px 40px 0px;
    opacity: 0.8;
    float: left;
    margin: auto;


}
#resources li {
    font-size: 50px;
    font-family: 'Nixie One', cursive;
    line-height: 100px;
    list-style: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

#resources a {
    color: #303030;
}


/******************************** contact info **********************/

#amie_carter_contact {
    color: #7e152c;
    font-family: 'Nixie One', cursive;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0.8;
    clear: both;
    text-align: center;
    margin-bottom: 90px;
    padding-bottom: 20px;
    width: auto;
}
#amie_carter_contact span {
    font-family: 'Nunito', sans-serif;
    color: #303030;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px 0px;
    line-height: 70px;
}
#amie_carter_contact p{
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
    background-color: darkgrey;
}
#amie_carter_contact a {
    color: #7e152c;
    margin-bottom: 30px;
}
  
/*********************************************************** Brianne's Photogrpahy *************************************************************/

body {
    background-color: whitesmoke;
}

section.content {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    height: 2800px;
 }

#brianne_navigation {
    text-decoration: none;
    list-style: none;
    width: 600px;
    margin: auto;
    text-align: center;
    clear: all;
    height: 100px;

}
#brianne_navigation li {
    float: left;
    width: 200px;
    font-size: 40px;
    padding-top: 40px;
}

#brianne_face {
    height: 400px;
    width: 400px;
    float: left;
    clear: all;
    padding-top: 40px;
}

#brianne_headers_1 {
    color: black;
    font-size: 100px;
    width: 600px;
    height: 350px;
    padding-top: 40px;
    text-align: center;
    float: left;
    font-weight: lighter;
}
div.left_column_picture {
    width: 500px;
    float: left;
}
div.right_column_picture {
    width: 500px;
    float: left;
    clear: right;
}
div.full_width_picture {
    width: 1000px;
    clear: both;
}
#one {
    background-color: red;
    height: 250px;
    clear: left;
}
#two {
    background-color: orange;
    height: 450px;
    clear: left;
}
#three {
    background-color: yellow;
    height: 700px;
}
#four {
    background-color: green;
    height: 600px;
}
#five {
    background-color: blue;
    height: 100px;
}
#six {
    background-color: darkviolet;
    height: 700px;
}
#seven {
    background-color: grey;
    height: 500px;
    clear: all;
}
#brianne_contact {
    font-family: 'Sofia', Helvetica, Sans-serif;
    color: black;
    border-style: double;
    border-color: black;
    border-width: 5px;
    font-size: 40px;
    width: 990px;
    margin-top: 20px;
    text-align: center;
    float: left;
}
 #brianne_contact span {
    font-weight: bold;
    font-size: 50px;

/******************************************************************* Tiny Taco Tabernacle ****************************************************/

}
.tiny-taco body {
    width: 1366px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color: purple;
}

#bg {
    margin: auto;
    position: absolute;
    z-index: -1;
  }


/********************* webpage title ******************************/

.tiny-taco h1 {
    color: #97c08a;
    font-family: 'Damion', cursive;
    font-size: 130px;
    text-shadow: 2px 2px black;
    margin-top: 0px;
    margin-bottom: 25px;
    width: 1366px;
    text-align: center;
    letter-spacing: -1px;
}

.tiny-taco span {
    font-size: 170px;
    letter-spacing:-25px;
}

/********************* navigation and extra info boxes ***************/

.tiny-taco #navigation, #extra_info {
    width: 1366px;
    background: green;
    opacity: 0.8;
    text-align: center;
}
.tiny-taco #navigation section {
    height: 170px;
    text-align: center;
    padding-left: 23px;
}
.tiny-taco #navigation p {
    color: #cbcbcb;
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    list-style: none;
    list-style-type: none;
    float: left;
    padding-left: 4px;
    padding-right: 10px;
    padding-top: 20px;
    margin-top: 25px;
    text-shadow: 1px 1px 1px black;
    }

/********** the following code for links is modified from Marcel's stack overflow demo. http://jsfiddle.net/Marcel/xejsM/52/ */
.tiny-taco a {
    text-decoration: none;
    color: #cbcbcb;
    /* First we need to help some browsers along for this to work.
        Just because a vendor prefix is there, doesn't mean it will
        work in a browser made by that vendor either, it's just for
        future-proofing purposes I guess. */  
    -o-transition:color .2s ease-out, background 2s ease-in;
    -ms-transition:color .2s ease-out, background 2s ease-in;
    -moz-transition:color .2s ease-out, background 2s ease-in;
    -webkit-transition:color .2s ease-out, background 2s ease-in;
    /* ...and now for the proper property */
    transition:color .2s ease-out, background 2s ease-in;
    }

.tiny-taco a:hover { color: purple;}
.tiny-taco i:hover {color: purple}


.tiny-taco #extra_info {
    margin-top: 700px;
    font-size: 60px;
    color: #cbcbcb;
    height: 220px;
}
.tiny-taco i {
    color: white;
}
.tiny-taco #extra_info span {
    height: 10px;
}

/*********************************** footer **********************/
.tiny-taco h3 {
    font-family: 'Damion', cursive;
    font-size: 80px;
    text-shadow: 3px 3px black;
}
.tiny-taco footer {
    width: 1366px;
    margin-top: 170px;
    color: purple;
    font-size: 46px;
    text-align: center;
    background: #97c08a;
    padding: 5px 0px 40px 0px;
    line-height: 50px;
}  



