h1 {
    padding: 0px;
}
h2 {
    padding: 0px;
    margin: 0px;
}
p {
    padding: 0px;
}

nav {
    padding: 0px;
    margin: 0px;
    width: auto;
    float: right;
    height: 20px;
}
nav ul {
    margin: 5px 5px 0px 0px;
}
nav ul li{
    display: inline-block;
    margin: 0px;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding-right: 5px;
    color: #d7e7eb;
    margin: 0px;
}
header {
    background-image: url('../img/water-background-alt2.png');
    background-color: darkslategray;
    background-size: cover;
}
header a {
    text-decoration: none;
    color: #ebf3f5;
}

header h1 {
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding-left: 0px;
    font-family: 'Lora', serif;
    color: #ebf3f5;
    margin: 0px;
    padding-top: 38px;
}
header h2 {
    font-family: 'Lora', serif;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #ebf3f5;  
    padding: 15px 0 15px 0px;
}

/************************ skills phone styles *******************/ 

#skills {
    background-color: #d7e7eb;
    text-align: center;
    border-style: solid;
    border: 5 px;
    border-color: #ebf3f5;
}

#skills span {
    display: none;
}
#skills h2 {
    font-size: 30px;
    color: #c49075;
    word-spacing: 1px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 80px;
    background: #ebf3f5;
}

#skills .full-width {
    padding: 0px 0px;
}

#skills div {
    padding-bottom: 15px;
    font-size: 18px;
}
#skills i {
    color: #7f7f7f;
    font-size: 50px;
}

#skills h5 {
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    color: #7f7f7f;
    margin-top: 0px;
    margin-bottom: 5px;
}

#skills p {
    font-family: 'Lora',serif;
    font-size: 19px;
    line-height: 45px;
    padding: 0 5%;
    color: #7f7f7f;
    margin-bottom: 20px;
    margin-top: 0px;
}

/****************** Link to portfolio phone styles ****************/



#portfolio {
    padding: 15px 15px 15px 15px;
    background: #c49075;
    margin: 0px;
    font-size: 28px;
    text-align: center;
    color: #d7e7eb;
    text-shadow: 2px 2px grey;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
}

#portfolio a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px grey;
}

#portfolio span {
    font-weight:bold;
}
#portfolio a :hover { 
    color: #b1ccd3; 
}


/**************************************** Work/ Portfolio phone styles **********************************/

#portfolio_body {
    background-color: #ebf3f5;
}

.container {
    position: relative;
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .first, .container:hover .second, .container:hover .third, .container:hover .fourth, .container:hover .fifth, .container:hover .sixth, .container:hover .seventh {
    opacity: 1;
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    top: 53%;
}

.text {
    background-color: #c49075;
    color: white;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 5px;
    margin-bottom: 5px;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    width: 80%;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}       




/****************** Contact phone styles ********************/


#contact-image {
width: 50%;
background: #ebf3f5;
}

#contact {
background: #ebf3f5;
}

#contact .full-width {
padding: 0px 0px 0px 0px;
}
#contact-image {
width: 50%;
margin-left: 25%;
background: #ebf3f5;
padding-top: 15px;
}

#contact #envelope {
padding: 0 10px 0 -10px;
}

#contact h2 {
font-family: 'Lora', serif;
font-size: 32px;
line-height: 44px;
font-weight: bold;
color: #7f7f7f;
padding: 5px 15px 0px 15px;
margin-left: 0px;
}

#contact #email-header {
font-size: 30px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: lighter;
line-height: 44px;
margin: 0px;
padding: 0px 35px 0px 15px;
padding-right: 20%;
color: #7f7f7f;
text-align: right;
}

#contact p {
text-align: center;
}
#contact a {
text-decoration: none;
color: #c49075;
font-weight: bold;
font-size: 24px;
width: 100%;
text-align: center;
}
img#envelope {
display: none;
}
#contact #social-media-header {
font-weight: 'Source Sans Pro', sans-serif;
font-size: 25px;
color: #7f7f7f;
font-weight: bold;
line-height: 44px;
margin: 40px 0 0 0px;
}

#contact ul {
list-style: none;
padding: 0px;
margin: 0px;
}

#contact ul li {
display: inline-block;
padding: 0px 0px 15px 0px;
width: 24%;
text-align: center;
}
#contact ul img {
font-size: 22px;
}


/***************************** ABOUT phone styles *****************/

#about p {
    font-size: 18px;
    line-height: 30px;
}

#about {
    padding-top: 5px;
    padding-bottom: 15px;
    background:  #d7e7eb;
    overflow: auto;

}
#about h2 {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-style: bold;
    color: #c49075;
    margin-bottom: 0px;
    padding: 15px 0 0px 15px;
}
#about div.half-width {
    width: 100%;
}
#about p {
    font-size: 14px;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
    color:  #7f7f7f;
}

#about span  {
    padding-left: 30px;
    font-weight: bold;
}




/*************************************************************** Tablet Styles ****************************************************/
/*******************************************************************************/

@media screen and (min-width: 768px) {   

    /***** Base styles *****/

    body {
        font-family: 'Source Sans Pro', sans-serif;
        color: #2b2b2b;
    }

    /* Grid */

    .full-width {
        width: 100%;
        margin: 0 auto;
    }
    .half-width {
        width: 50%;
        margin: 0 auto;
        float: left;
    }

    .third-width {
        width: 33%;
        margin: 0 auto;
        float: left;
    }


    #contact, #skills {
        overflow: auto;
    }


    /******************** Header Tablet *********************/


    header h1 { 
        padding: 35px 0 15px 0px;
        font-family: 'Lora', serif;
        font-size: 65px;
    }
    header h2 {
        clear: both;
        font-size: 38px;
        line-height: 65px;
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }

    nav {
        display: initial;
        padding: 0px;
        margin: 0px;
        height: 0px;
    }
    nav ul {
        float: right;
        padding-right: 5px;
        margin-top: 5px;
    }
    nav ul li a {
        font-size: 15px;
    }

    /********************** Navigation Tablet *******************/

    nav {
        float: right; 
        padding: 0;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        margin-right: 14px;
        margin-left: 10px;
        color: #d7e7eb;
    }


    /******************** Skills Section Tablet ****************/
    #skills section {
        height: auto;
    }

    #skills h2 {
        font-size: 48px;
        word-spacing: 1px;
        margin-top: 20px;
    }

    #skills span {
        font-size: 50px;
    }

    #skills .full-width {
        padding: 10px 0;
    }

    #skills div {
        padding-bottom: 15px;
        font-size: 50px;
    }
    #skills i {
        color: #7f7f7f;
        font-size: 50px;
    }

    #third-width div {
        padding-top: 10%;
        height: auto;
    }


    #skills h5 {
        font-size: 28px;
        line-height: 39px;
        width: 190px;
        margin: 0 auto;
        color: #7f7f7f;
    }

    #skills p {
        font-family: 'Lora',serif;
        font-size: 18px;
        line-height: 39px;
        padding: 0px 5%;
        color: #7f7f7f;
    }

    /************************ Link to Portfolio********************/

    #portfolio {
        padding-top: 50px;
        margin: 0px;
        height: 100px;
        font-size: 44px;
        }

    /********************** Contact/Footer *************************/



    #contact .full-width {
        padding: 80px 0px 0px 0px;
    }
    #contact-image {
        width: 70%;
        margin-left: 20%;
    }

    #contact #envelope {
        padding: 0 10px 0 -10px;
    }

    #contact h2 {
        font-size: 39px;
        line-height: 44px;
        font-weight: bold;
        padding-bottom: 10px;
        margin-left: 0px;
    }
    #contact #email-header {
        font-size: 36px;
        font-weight: lighter;
        line-height: 44px;
        margin: 0 5px -0px;
        margin-bottom: 30px;
    }
    #contact #social-media-header {
        font-size: 29px;
        font-weight: bold;
        line-height: 44px;
        margin: 30px 0 0 0px;
    }
    #contact p {
        text-align: left;
    }
    #contact a {
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
    }

    #contact ul {
        list-style: none;
    }
    #contact ul li {
        display: inline-block;
    }
    #contact ul img {
        font-size: 32px;
        padding-right: 48px;
    }



    
    /************************************************** ABOUT Page Tablet ***********************************/


    
    #about div.half-width {
        width: 50%;
    }

    #about h2 {
        font-size: 40px;
        padding-left: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 50px;
    }

    #about p {
        font-size: 28px;
        line-height: 45px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #about span  {
        padding-left: 50px;
    }





    /************************************ Tablet Work Portfolio Page Styles *********************************************/

  
    .container {
        width: 60%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .image {
        width: 80%;
        height: auto;
        margin-bottom: 40px;
    }       
   

    .text {
        font-size: 44px;
        line-height: 60px;
        padding: 15px 10px;
        margin-bottom: 10px;
    }


    .website_image {
        width: 90%;
    }
}   

/***************************************** Laptop styles ********************************************************************************************************************/
/*********************************************************************************************************************************/

@media screen and (min-width: 1200px) {

    body {
        padding-left: 100px;
        padding-right: 100px;
        background-color: #c49075;
    }

    nav {
        display: initial;
        padding: 0px;
        margin: 0px;
        height: 0px;
    }
    nav ul {
        float: right;
        padding-right: 10px;
    }
    header a {
        font-size: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }


    header h1, header h1 a {
    width: auto;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 90px;
    }
    header h2 {
        font-size: 48px;
        padding-top: 10px;
        padding-bottom: 25px;
        padding-right: 15px;
        text-align: right;
    }


    #about div.half-width {
        width: 50%;
    }
    /********************* Skills laptop styles ***********/

    #skills h2 {
        font-size: 40px;
    }
    #skills span {
        display: initial;
        padding-left: 5px;
        padding-right: 5px;
    }

    #skills i {
        font-size: 70px;
        padding-top: 20px;
    }
    #skills h5 {
        font-size: 23px;
        width: auto;
        padding-bottom: 15px;
    }

    #skills p {
        font-size: 23px;
        line-height: 55px;
    }


    #portfolio {
        font-size: 38px;
    }
    

    /*********************** Footer laptop Styles *************/
    div.half-width {
        width: 45%;
    }
    #contact-image {
        width: 50%;
        margin-left: 35%;
    }

    #contact .full-width {
        padding: 50px 0px 0px 0px;
    }
    #contact h2 {
        font-size: 42px;
        line-height: 48px;
        padding-left: 0px;
        margin: 30px 0 0 0;
    }
    #contact #email-header {
        font-size: 40px;
        line-height: 50px;
        margin-top: 10px;
        text-align: left;
    }
    #contact #social-media-header {
        font-size: 35px;
        line-height: 50px;
        margin: 30px 0 30px 0px;
    }
    #contact #envelope {
        display: initial;
        padding: 0 10px 0 0;
    }
    #contact p {
        text-align: left;
    }
    #contact a {
        text-decoration: none;
        font-weight: bold;
        font-size: 38px;
    }
    #contact ul {
        list-style: none;
    }
    #contact ul li {
        display: inline-block;
        width: 15%;
    }
    #contact ul img {
        font-size: 32px;
        padding-right: 48px;
    }
    footer {
        margin-bottom: 20px;
    }


}